<% content_for :hero do %>
  <div class="hero-text">
    <h1>See Sample Itineraries</h1>
    <p>below</p>
  </div>
<% end %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <% @itineraries.each do |itinerary| %>
      <div class="col-md-4">
        <a href="/itineraries/<%= itinerary.id %>" class="itinerary">

          <img src="<%= itinerary.image_url %>" />
          <h2><%= itinerary.description %></h2>
        </a>
      </div>
    <% end %>
  </div>
</div>
