<% content_for :body_class, "cover" %>
<% content_for :hero do %>
  <div class="hero-text full-page">
    <h1>See the world</h1>
    <p>A new way to plan your travels</p>

    <a class="btn btn-transparent btn-lg" href="/itineraries/"> View Itineraries </a>
  </div>
<% end %>
