<% content_for :body_class, "cover" %>
<% content_for :hero do %>
  <div class="hero-text full-page">
    <h1>See the <strong>World</strong></h1>
    <h4>Connect with a local to plan your travels</h4>

    <a class="btn btn-transparent btn-lg" href="/itineraries/"> View Sample Itineraries </a>
  </div>
<% end %>
