<% content_for :body_class, "cover" %>
<% content_for :hero do %>
  <div class="hero-text full-page">
    <h1>Chat with a helpful </h1> <h1 id="local-type">local</h1>
    <!-- <h3><strong>Connect with a local to plan your travels</strong></h3> -->

    <a class="btn btn-transparent btn-lg" href="/itineraries/"> View Sample Itineraries </a>
  </div>
<% end %>
