// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.itinerary-page {
    footer {
        position:relative;
    }
    #welcome {
        min-height: 900px;
    }
}

.itinerary {
    display: block;
    position: relative;
    border-radius:10px;
    text-align: center;
    padding-top: 88px;
    height: 320px;
    width: 320px;
    // text-transform: uppercase;
    overflow:hidden;
    margin-bottom:20px;
    img {
        vertical-align: middle;
        width: 100%;
        position: absolute;
        left:0px;
        top:0px;
        border-radius:10px;
    }
    h4 {
        color:white;
        z-index: 1000;
        position: relative;
    }
}

.itinerary-detail {
    position: absolute;
    top: 0px;
    width: 100%;
    .overview {
        height: 400px;
        overflow: hidden;
    }

    img {
        width:100%;
    }

}

.all-itineraries {
    // background: url(<%= asset_path('tngbg.jpg') %>);
    background-color: #81d4fa;
    margin: 0px;
    top: 0px;
    text-align: center;
    padding: 130px;
    color: white;
    height: 300px;
    overflow: hidden;
    // background-size: cover;
  }
